
[Desktop Entry]
Name=TabZ
Name[fr_FR]=TabZ
Comment=Read/Modify chords song files
Comment[fr_FR]=Lire/Modifier les fichiers d'accord musiquaux
Exec=tabz
Icon=TabZ
Type=Application
Terminal=false
MimeType=text/x-xta;
Categories=AudioVideo;Audio;
