
[Desktop Entry]
Name=TabS
Name[fr_FR]=TabS
Comment=Read/Modify chords song files
Comment[fr_FR]=Lire/Modifier les fichiers d'accord musiquaux
Exec=tabs
Icon=tabs
Type=Application
Terminal=false
MimeType=text/x-xta;
Categories=AudioVideo;Audio;
