Package: TabS
Version: 0.0.13
Section: sound
Priority: optional
Architecture: all
Depends: libqtcore4,libqtgui4,libqt4-xml
Installed-Size: 200
Maintainer: Léo Baudouin <baudouin.leo@gmail.com>
Description: Read/Modify chords files
